@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.nav {
  border-bottom: 1px solid #dbdbdb;
}

.nav-link {
  text-decoration: none;
  color: #0068de;
}

.nav-logo {
  font-family: "Lobster", cursive;
  font-size: 30px;
  padding: 20px;
}
